html(ng-app="my-app")
 - var j = "../path/css/";
 head
  link(rel="#{j}style.css")


 body
  div#Wrapper
    div.container

      div#main

        div.sec

          ul.list
            li
              a(href="#")
                
            li
              a(href="#" target="_blank") テキスト
                
            li
              a(href="#") テキスト
                
            li
              div
                a(href="#")
                  p.d mlmk
                  p.gg konk
                  ul
                    li
                      div
                        p.nnn
                      //koment

        div.seco2
          p kfmhofdm
        //ko
      div#sub(ng-contlloer="kjh") {{b.name}}
        

      //sub
  //wrapper
  footer